

<div class="row" >
    <ng-container *ngFor = "let items of filterProducts">
        <div (ngModel) ="id" *ngIf ="items.payload.val().SubCategories === id">
            
                <div class="card col" style="width: 30rem;">
                        <img class="card-img-top" src="{{items.payload.val().ImageUrl}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">{{ items.payload.val().ItemName }}</h5>
                          <p class="card-text">{{ items.payload.val().Price | currency: 'USD':true }}</p>
                          <button 
                            (click) = "addToCart(items.key)"
                            class = "btn btn-primary">
                            Add to Cart</button>
                          <button 
                            (click) = "removeFromCart(items.key)"
                            class = "btn btn-primary">
                            Remove from Cart</button>
                        </div>
                      </div>
         </div>
    </ng-container>
</div>