<div class="row">
        <ul class="list-group">
            <div *ngFor="let cat of subCategories$ | async" >
                <div class="card bg-dark text-white">
                    <img class="card-img" src="https://cdn.dribbble.com/users/45405/screenshots/2353058/gif-006-box.gif" alt="Card image">
                    <div class="card-img-overlay">
                      <a  
                      class="card-title"
                      [routerLink]="['/category/sub-category/', cat]">
                      {{ cat }}
                    </a>
                    </div>
                </div>
            </div>
        </ul>
</div>

