button{
    margin: 1px;
}

.main{
	margin-top: 50px;
	margin-left: 625px;
	
	margin-right: 625px;
	/*background-color: black;*/
	/*padding: 100px;*/
}

.text{
	color: #ffffff;
	text-shadow: 3px 3px #000000;
	font-size: 60px;
}

p{
	color: balck;
}

.link{
	color: #ffffff;
	text-shadow: 1px 1px #000000;
	font-size: 60px;
	text-decoration: none;
}
img{
	width: 1400px;
	height: 400px;
	/*margin-right: 100px;
	margin-left: 100px;*/
}