<div class="row">
    <div class="col-3">
        <ul class="list-group">
            <li *ngFor="let cat of Categories$ | async" class="list-group-item">
                {{ cat.name }}
            </li>
        </ul>
    </div>
    <div class="col-9">
        <div class="row">
            <ng-container *ngFor="let item of Items$ | async">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" [src]="item.ImageUrl" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.ItemName }}</h5>
                                <p class="card-text">{{ item.Price | currency:"USD":true }}</p>
                            </div>
                            <div class="card-body">
                                <div class="btn-toolbar">
                                    <button type="button" class="btn btn-primary btn-sm"> Add to Cart </button>
                                    <button type="button" class="btn btn-primary btn-sm"> View Item </button>
                                </div>
                            </div>
                    </div>    
                </div>
                <div *ngIf = "(i+1) % 3 == 0" class = "w-100"></div>
            </ng-container>    
        </div>  
    </div>
</div>