button{
    margin: 1px;
}

.main{
	margin-top: 50px;
	margin-left: 625px;
	
	margin-right: 625px;
	/*background-color: black;*/
	/*padding: 100px;*/
}

h3{
	color: black;
}

p{
	color: balck;
}

img{
	width: 1400px;
	height: 400px;
	/*margin-right: 100px;
	margin-left: 100px;*/
}