.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  cursor: pointer;
}

.navbar-toggler-right{
	margin-right: 80px;
}

.dropdown-menu{
	margin-right: 50px;
}
varText{
  color: white;
}